*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 400px;
    padding: 20px;
    background-color: #d2ffff; 
    border-radius: 10px;
    padding: 25px ;
}

button{
    padding: 4px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
#textInput{
    background-color: transparent;
    padding: 5px;
    border: 1px solid #048989;
    border-radius: 3px;
    width: 75%;
}

#submitButton{
    padding: 4px 8px;
    background-color: #47bbec;
    border: 2px solid #048989;
    color: #00405b;
    border-radius: 3px;
    cursor: pointer;
}
#submitButton:disabled{
    color: #37b0e4;
    background-color: #a0e9f4;
    border: 2px solid #a0e9f4;
    cursor: not-allowed;
}

.nthnToshw{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
h1{
    margin-bottom: 5px;
}
.items{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    width: 380px;
    background-color: beige;
    border-radius: 3px;
    border: 1px solid rgb(127, 127, 40);
}
.textarea{
    resize: none;
    padding: 10px 0;
    margin-left: 10px;
    display: block;
    overflow: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    width: 350px;
    height: 16px;
    pointer-events: none;
}
.bi-three-dots-vertical{
    width: 5px;
    font-size: 13px;
    pointer-events: none;
}
.textarea:focus{
    outline: none;
    border: none;
}
.textarea:disabled{
    color: black;
}
.editDlt{
    transform: translateX(-60px);
    display: flex;
    gap: 5px;
}


.inputData{
    display: flex;
    align-items: center;
}

.btns{
    display: none;
    transform: translateX(-60px);
    gap: 5px;
}

:is(.saveBtn, .cancelBtn, .dltBtn, .editBtn){
    background-color: transparent;
    border: none;
}

.dragging{
    opacity: 0;
}