*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 400px;
    padding: 20px;
    background-color: #cee1ff; 
    padding: 25px ;
}
h1{
    color: #243a6b;
}
button{
    padding: 4px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
#textInput{
    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #048989;
    border-radius: 10px;
    width: 75%;
    outline: none;
}

/* #textInput:focus{
    background: rgba(0, 0, 0, 0.087);
} */

#submitButton{
    padding: 4px 8px;
    background-color: #5090fe;
    border: 2px solid #cee1ff;
    color: #00405b;
    border-radius: 10px;
    cursor: pointer;
}
#submitButton:disabled{
    color: #60728e;
    background-color: #7aa0e3;
    border: 2px solid #cee1ff;
    cursor: not-allowed;
}

.nthnToshw{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
h1{
    margin-bottom: 5px;
}
.items{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    width: 380px;
    background-color: rgb(255, 255, 230);
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 66);
}

.textarea{
    resize: none;
    padding: 10px 0;
    margin-left: 10px;
    display: block;
    overflow: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    width: 350px;
    height: 20px;
}
.dragItems{
    display: flex;
    cursor: grab;
    padding: 5px;
}

.bi-three-dots-vertical{
    margin: 0;
    padding: 0;
    font-size: 13px;
    pointer-events: none;
    width: 6px;
}
.textarea:focus{
    outline: none;
    border: none;
}
.textarea:disabled{
    color: black;
}
.editDlt{
    transform: translate(-60px, 2px);
    display: flex;
    gap: 5px;
}


.inputData{
    display: flex;
    align-items: center;
}

.btns{
    display: none;
    transform: translate(-60px, 2px);
    gap: 5px;
}

:is(.saveBtn, .cancelBtn, .dltBtn, .editBtn){
    background-color: transparent;
    border: none;
    height: 25px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.editBtn:hover, .saveBtn:hover{

    background: rgb(199, 255, 199);
}

.cancelBtn:hover, .dltBtn:hover{
    background: rgb(255, 210, 210);
}